docs/_build
docs/intro/figs/gridmapping.pdf
docs/intro/figs/hdf5layout.pdf
build
models/plotting/data
models/plotting/plots
Makefile.in
*~
*.pyc
*.aux
*.log
models/data
geomodelgrids.egg-info
configure
aclocal.m4
autom4te.cache
aux-config
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
m4/libtool.m4
portinfo.in
record.txt
