docs/_site
docs/Gemfile.lock
docs/overview/figs/gridmapping.pdf
docs/overview/figs/hdf5layout.pdf
Makefile.in
*~
*.pyc
*.aux
*.log
models/data
geomodelgrids.egg-info
configure
aclocal.m4
autom4te.cache
aux-config
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
m4/libtool.m4
portinfo.in
