.main {
  @include mq(md) {
    margin-top: 3.0rem;
    margin-left: $nav-width;
  }
}
.main-content {
    line-height: inherit;
}
.main-content-wrap {
    padding-bottom: 1rem;

    @include mq(md) {
	padding-bottom: 1rem;
    }
}

.page-banner {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    height: 3.0rem;
    width: 100%;
    background-color: #006F41;
    img {
       vertical-align: middle;
       height: 100%;
       padding: 0.5rem;
    }
    span {
	vertical-align: middle;
        height: 100%;
        padding-left: 0.5rem;
        color: white;
        .site-title {
            color: inherit;
	    padding-top: 0px;
	    padding-bottom: 0px;
            text-decoration: none;
	    flex-grow: 0;
	    display: inline;
	    &:hover {
		background-image: none;
	    }
        }
    }
}

.site-footer {
  width: 100%;
  border-top: $border $border-color;
  color: black;
  font-style: italic;
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  
  @include mq(md) {
    align-self: flex-end;
    justify-self: end;
  }
}

.side-bar {
    padding-top: 3.0rem;
    
    @include mq(md) {
	width: $nav-width;
        padding-top: 0;
        padding-bottom: 0;
    }

    @include mq(lg) {
	width: $nav-width;
	min-width: $nav-width;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.site-nav {
    display: block;
    padding-left: 1.0rem;
    padding-right: 0.2rem;
    padding-top: 0;
    width: 100%;
    min-width: 100%;

    @include mq(md) {
      padding-top: 0;
    }
}


h3.nav-title {
    @include fs-4;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    font-weight: bold;
}
.nav-list
.nav-list-item
.nav-list-link {
    display: block;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height: 1.4;
    min-height: 0.2rem;
    padding-right: 0px;
    padding-left: 0px;
}

.nav-list {
    padding-left: 0px;
    padding-right: 0px;
    .nav-list-item {
        @include mq(md) {
	    margin-top: 0;
        }
    }
}
.nav-list-child-list {
  padding-left: $sp-4;
  list-style: none;

  .nav-list-link {
    color: $nav-child-link-color;
  }

  .nav-list-item {
    position: relative;

    &::before {
      position: absolute;
      //margin-top: 0.3em;
      margin-left: -$sp-2;
      color: rgba($body-text-color, 0.8);
      content: "\2022";
    }

    &.active {
      &::before {
        color: $body-text-color;
      }
    }
  }
}

.nav-list-item {
    > .nav-list-child-list {
	display: none;
    }

    &.active {
	> .nav-list-child-list {
	    display: block;
	}
    }
}
    

.search-input {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    
}

code {
  padding: 0.1em 0.1em;
}

pre.highlight {
  padding: $sp-1;
}

html {
    @include fs-3;
}

h1,
.text-alpha {
  @include fs-7;
  font-weight: bold;
}

h2,
.text-beta {
  @include fs-6;
  font-weight: bold;
}

h3,
.text-gamma {
  @include fs-5;
  font-weight: bold;
}

h4,
.text-delta {
  @include fs-3;
  font-weight: bold;
}

h5,
.text-epsilon {
  @include fs-2;
  color: $grey-dk-200;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
}

.text-small {
  @include fs-2;
}


 


