[geomodelgrids]
title = USGS 3D seismic velocity model for the San Francisco Bay region (regional domain)
id = usgs-sfcvm-regional
description = 3D seismic velocity model for the San Francisco Bay region (regional domain) constructed from assigning elastic propertiesto points based on the geologic unit from the Jachens and others (unpublished) 3D geologic model and depth in the solid material.
version = XX.X
keywords = [seismic velocity model, San Francisco Bay Area]
history =
comment =
creator_name = Brad Aagaard
creator_institution = U.S. Geological Survey
creator_email = baagaard@usgs.gov
acknowledgement = 
authors = []
references = []
repository_name = ScienceBase
repository_url = https://www.sciencebase.gov
repository_doi = TBD
license = Public Domain, CC0-1.0 Universal

filename = /data/seismic_sfbay_regional-XX.X.X.h5
data_source = geomodelgrids.create.earthvision.datasrc.RulesDataSrc

[coordsys]
crs = PROJCS["unnamed",GEOGCS["NAD83",DATUM["North_American_Datum_1983",SPHEROID["GRS 1980",6378137,298.257222101,AUTHORITY["EPSG","7019"]],TOWGS84[0,0,0,0,0,0,0],AUTHORITY["EPSG","6269"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4269"]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",35],PARAMETER["central_meridian",-123],PARAMETER["scale_factor",0.9996],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["Meter",1]]
#origin_x = 96982.8427262392 # EarthVision model
#origin_y = 1066.7411012281036 # EarthVision model
origin_x = 97513.8
origin_y = 4562.2
y_azimuth = 323.638

[data]
values = [density, Vp, Vs, Qp, Qs, fault_block_id, zone_id]
units = [kg/m**3, m/s, m/s, None, None, None, None]
layout = vertex

auxiliary = {"fault_block_ids": {"": -1e+20, "Bay Block": 5, "Coastal_Belt": 9, "E_Diablo Range": 7, "Farallone": 10, "GVS": 3, "GV_Basement": 8, "Great Valley": 6, "Salinia": 1, "Sliver": 2, "Sur": 12, "Viscaino": 11, "West Diablo": 4}, "zone_ids": {"": -1e+20, "<null>": 10, "Cs_Coast Ranges": 14, "Cs_Offshore": 15, "GV gabbro": 3, "K": 11, "KJF_Bay_Block": 13, "KJf_Coastal_Belt": 9, "KJf_E_Diablo": 6, "KJf_Foothills": 4, "KJf_Sur": 7, "KJf_Viscaino": 8, "KJf_W_Diablo": 5, "Kgr": 12, "Q_Salinia": 19, "T_Foothills": 16, "T_Great_Valley": 17, "T_Salinia": 18, "mafic lower crust": 2, "mantle": 1, "water": 20}}


[domain]
dim_x = 325.0e+3
dim_y = 645.0e+3
dim_z = 45.0e+3


blocks = [vres125m, vres250m]

batch_size = 2500000

[earthvision]
model_dir = /data/sfbay-geology/regional_domain
top_surface_2grd = [bigbay_reg_topo_km_prj.2grd, zero.2grd]
topography_bathymetry_2grd = [bigbay_reg_topo_km_prj.2grd]
geologic_model = CenCal_Reg_13b.seq
elev_units = km
xy_units = km
rules_module = XXX

[earthvision.environment]
PATH = /bin:/usr/bin:/sbin:/usr/sbin:/opt/earthvision/ev11/bin64
LD_LIBRARY_PATH = /opt/earthvision/ev11/lib64
LM_LICENSE_FILE = /opt/earthvision/license/license.dat

[top_surface]
use_surface = True
x_resolution = 500.0
y_resolution = 500.0
chunk_size = (150, 150, 1)

[topography_bathymetry]
use_surface = True
x_resolution = 500.0
y_resolution = 500.0
chunk_size = (150, 150, 1)

[vres125m]
x_resolution = 500.0
y_resolution = 500.0
z_resolution = 125.0
z_top = 0.0
z_bot = -10.0e+3
z_top_offset = -0.1
chunk_size = (12, 12, 81, 7)

[vres250m]
x_resolution = 1000.0
y_resolution = 1000.0
z_resolution = 250.0
z_top = -10.0e+3
z_bot = -45.0e+3
z_top_offset = 0.0
chunk_size = (8, 8, 141, 7)

